<mat-card>
    <mat-card-title>Mapas</mat-card-title>
    <mat-card-content style="margin:20px auto; width:100%; height: 440px;">
        <div>
            <ol-map
            lat="4.673365"
            lon="-74.087650"
            zoom="11"
            width="100%"
            height="480px"
            >
              <ol-map-marker
                lat="4.673365"
                lon="-74.087650"
              >
              </ol-map-marker>
            </ol-map>
          </div>
    </mat-card-content>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="navegarMenu(1)">Cruce 1</button>
        <button mat-raised-button color="primary" (click)="navegarMenu(2)">Cruce 2</button>
        <button mat-raised-button color="primary" (click)="navegarMenu(3)">Cruce 3</button>
      </div>
    </section>
  </mat-card>
