<div class="">
    <mat-card>
        <img src="../../../assets/img/interseccion1.svg" alt="img" width="100%">
        <div style="margin-left: 5.7%; margin-right: 8%;">
            <mat-progress-bar mode="determinate" [value]="tiempo"></mat-progress-bar>
        </div>
        <div class="row mt-5">
            <div class="col-2">GRUPO 2</div>
            <div class="col-1">
                <div class="semaforo">
                    <span class="luces-circulo red" color = "red"></span>
                    <span class="luces-circulo" color="yellow"></span>
                    <span class="luces-circulo" color="green"></span>
                </div>
            </div>
            <div class="col-1">
                <!-- <div class="semaforo">
                    <span class="luces-circulo red" color = "red"></span>
                    <span class="luces-circulo" color="green"></span>
                </div> -->
            </div>
            <div class="col-4"></div>
            <div class="col-1">
                <div class="semaforo">
                    <span class="luces-circulo4 red" color = "red"></span>
                    <span class="luces-circulo4" color="yellow"></span>
                    <span class="luces-circulo4" color="green"></span>
                </div>
            </div>
            <div class="col-1">GRUPO 4
                <!-- <div class="semaforo">
                    <span class="luces-circulo red" color = "red"></span>
x                    <span class="luces-circulo" color="green"></span>
                </div> -->
            </div>
        </div>
        <div style="text-align: center; margin-top: -84px; margin-top: -40px;">
            <img src="../../../assets/img/cruce1.bmp" alt="img" width="30%">
        </div>
        <div class="row">
            <div class="col-2">GRUPO 91</div>
            <div class="col-1">
                <div class="semaforo">
                    <span class="luces-circulo91 red" color = "red"></span>
                    <span class="luces-circulo91" color="yellow"></span>
                    <span class="luces-circulo91" color="green"></span>
                </div>
            </div>
            <div class="col-1">
                <!-- <div class="semaforo">
                    <span class="luces-circulo red" color = "red"></span>
                    <span class="luces-circulo" color="green"></span>
                </div> -->
            </div>
            <div class="col-4"></div>
            <div class="col-1">
                <div class="semaforo">
                    <span class="luces-circulo22 red" color = "red"></span>
                    <span class="luces-circulo22" color="yellow" hidden></span>
                    <span class="luces-circulo22" color="green"></span>
                </div>
            </div>
            <div class="col-1">GRUPO 22
                <!-- <div class="semaforo">
                    <span class="luces-circulo red" color = "red"></span>
                    <span class="luces-circulo" color="yellow"></span>
                    <span class="luces-circulo" color="green"></span>
                </div> -->
            </div>
        </div>
    </mat-card>
    <section>
        <div class="example-button-row" style="margin-left: 5%;">
          <button mat-raised-button color="primary" (click)="volver()">Volver</button>
        </div>
      </section>
</div>
