<div class="">
    <mat-card>
        <img src="../../../assets/img/interseccion1.svg" alt="img" width="100%">
        <div style="margin-left: 6%; margin-right: 8%;">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div style="text-align: center;">
            <img src="../../../assets/img/semaforos.svg" alt="img" width="40%">
        </div>
    </mat-card>
    <section>
        <div class="example-button-row" style="margin-left: 5%;">
          <button mat-raised-button color="primary">Volver</button>
        </div>
      </section>
</div>